:root {
    --app-bar: 0px 6px 12px 0px rgba(92, 115, 131, 0.08), 0px 4px 8px 0px rgba(92, 115, 131, 0.08);
    --colors-black-black-300: rgba(19, 19, 22, 1);
    --colors-gray-gray-400: rgba(86, 97, 107, 1);
    --colors-gray-gray-50: rgba(239, 241, 246, 1);
    --colors-white-white-100: rgba(255, 255, 255, 1);
    --degular-headers-3x-small-font-family: "Degular-Bold", Helvetica;
    --degular-headers-3x-small-font-size: 24px;
    --degular-headers-3x-small-font-style: normal;
    --degular-headers-3x-small-font-weight: 700;
    --degular-headers-3x-small-letter-spacing: -0.6000000238418579px;
    --degular-headers-3x-small-line-height: 32px;
    --degular-headers-small-font-family: "Degular-Bold", Helvetica;
    --degular-headers-small-font-size: 36px;
    --degular-headers-small-font-style: normal;
    --degular-headers-small-font-weight: 700;
    --degular-headers-small-letter-spacing: -1.5px;
    --degular-headers-small-line-height: 48px;
    --degular-headers-XX-small-font-family: "Degular-Bold", Helvetica;
    --degular-headers-XX-small-font-size: 28px;
    --degular-headers-XX-small-font-style: normal;
    --degular-headers-XX-small-font-weight: 700;
    --degular-headers-XX-small-letter-spacing: -0.6000000238418579px;
    --degular-headers-XX-small-line-height: 38px;
    --degular-paragraph-x-small-font-family: "Degular-Medium", Helvetica;
    --degular-paragraph-x-small-font-size: 16px;
    --degular-paragraph-x-small-font-style: normal;
    --degular-paragraph-x-small-font-weight: 500;
    --degular-paragraph-x-small-letter-spacing: -0.20000000298023224px;
    --degular-paragraph-x-small-line-height: 24px;
    --degular-paragraph-XX-small-font-family: "Degular-Medium", Helvetica;
    --degular-paragraph-XX-small-font-size: 14px;
    --degular-paragraph-XX-small-font-style: normal;
    --degular-paragraph-XX-small-font-weight: 500;
    --degular-paragraph-XX-small-letter-spacing: -0.20000000298023224px;
    --degular-paragraph-XX-small-line-height: 16px;
    --degular-subtitle-6x-small-font-family: "Degular-Semibold", Helvetica;
    --degular-subtitle-6x-small-font-size: 16px;
    --degular-subtitle-6x-small-font-style: normal;
    --degular-subtitle-6x-small-font-weight: 400;
    --degular-subtitle-6x-small-letter-spacing: -0.4000000059604645px;
    --degular-subtitle-6x-small-line-height: 24px;
    --degular-subtitle-7x-small-font-family: "Degular-Semibold", Helvetica;
    --degular-subtitle-7x-small-font-size: 14px;
    --degular-subtitle-7x-small-font-style: normal;
    --degular-subtitle-7x-small-font-weight: 400;
    --degular-subtitle-7x-small-letter-spacing: -0.4000000059604645px;
    --degular-subtitle-7x-small-line-height: 16px;
    --elevation-light-mode-100: 0px 2px 4px 0px rgba(45, 59, 67, 0.05), 0px 2px 6px 0px rgba(45, 59, 67, 0.06);
    --shake-black100: rgba(0, 0, 4, 1);
    --trashed-colorsgray0: rgba(239, 241, 246, 1);
    --trashed-colorsgray100: rgba(219, 222, 229, 1);
    --trashed-colorsjade100: rgba(227, 252, 242, 1);
    --trashed-colorsjade400: rgba(14, 161, 99, 1);
    --trashed-colorsred100: rgba(249, 227, 224, 1);
    --trashed-colorswhite100: rgba(255, 255, 255, 1);
    --trashed-colorswhite80: rgba(255, 255, 255, 1);
    --trashed-colorsyellow400: rgba(167, 122, 7, 1);
}